<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">

    <security:http use-expressions="true">
        <security:intercept-url pattern="/home.jsp" access="permitAll" />
        <security:intercept-url pattern="/secure/Admin.jsp" access="hasRole('admin')" />
        <security:intercept-url pattern="/secure/Faculty.jsp" access="hasRole('faculty')" />
         <security:form-login />
         <security:logout />
        <security:remember-me />
         <security:session-management invalid-session-url="/logout.jsp">
	            <concurrency-control max-sessions="3" error-if-maximum-exceeded="true" />
	        </security:session-management> 

    </security:http>


    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="raja" password="rani" authorities="admin,faculty" />
                <security:user name="ravi" password="ravi" authorities="faculty" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans:beans>   
